cloud_id                 = "b1g07pq5lr9f9e"
folder_id                = "b1ggnsla1tt1vsq"
zone                     = "ru-central1-a"
image_id                 = "fd8vfbci6kikkq615kn3"
public_key_path          = "~/.ssh/denisv003.pub"
subnet_id                = "e9baugga0kt6rc1sbhr5"
service_account_key_file = "/home/dvoloshchik/Otus/key.json"
private_key              = "~/.ssh/denisv003"
count_app = "1"